@font-face {
    font-family: "InterRegular";
    font-weight: 400;
    src: url(Fonts/Inter-Regular.ttf);
  }

@font-face {
    font-family: "JakartaBold";
    font-weight: 400;
    src: url(Fonts/PlusJakartaSans-Bold.ttf);
  }



body {
    background-color: #1E1E1E ;
}

